
html,
body{   
    overflow-x: hidden;
    position: relative;
    height: 100%;
    font-size: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 78.125rem;
    width: 100%;
}
.container_full{
    margin: 0 auto;
    padding: 0 0.9375rem;
    max-width: 120rem;
    width: 100%;
}













