
@media (max-width: 1680px){
.everything__wrapper {
    transform: scale(0.98);
    .everything__item{
        transform: scale(0.9);
    }
    .everything__box{
        transform: scale(0.9);
    }
    .everything{
        &__item-line-1{
            position: absolute;
            top:20%;
            left:23%;
        }
        &__item-line-2{
            position: absolute;
            top:40%;
            left:6%;
            width: 440px;
        }
        &__item-line-3{
            position: absolute;
            right: 25%;
            bottom: 15%;
        }
        &__item-line-4{
            position: absolute;
            right: 5%;
            bottom: 0;
        }
    }
}
.box__month-wrapper{
    transform: scale(0.85);
}
.big__title-wrapper{
    transform: scale(0.85);
}
.recent__posts-wrapper{
    transform: scale(0.85);
}
.recent__posts-wrapper{
    transform: scale(0.85);
}
.whats__new-wrapper{
    transform: scale(0.85);
}
.hear__about-wrapper{
    transform: scale(0.85);
}
.clients_say-wrapper{
    transform: scale(0.85);
}

}

@media (max-width: 1440px){
    .everything__wrapper {
        transform: scale(0.98);
        .everything__item{
            transform: scale(0.88);
        }
        .everything__box{
            transform: scale(0.87);
        }
        .everything{            
            &__item-line-2{           
                width: 24.375;
            }
            &__item .jar__item img{
                width: 7.5rem;
            }
            &__item .jar__item{
                top:2%;
            }
            &__item-ring6{
                top: 60%;
                right: 60%;
            }
            &__item-ring5{
                top: 65%;
                left: 10%;
            }
        }
    }
    .box__month-wrapper{
        transform: scale(0.81);
    }
    .hear__about-wrapper{
        transform: scale(0.799);
    }
}
@media (max-width: 1366px){
    .box__month-wrapper{
        transform: scale(0.77);
    .box__month-describe{
        transform: scale(1.2);
    }
    
}
    .hear__about-wrapper{
        transform: scale(0.799);
        .hear__item-imgbig{
            transform: scale(0.85);
        }
    }
    .everything__wrapper{
        .everything__item-line-2{           
            width: 23.125rem;
     }
     .everything__item-line-1{           
        width: 122px;
 }
    }
    
    
}
@media (max-width: 1280px){
    .box__month-wrapper{
        transform: scale(0.73);
    .box__month-describe{
        transform: scale(1.2);
    }   
}
.big__title-wrapper{
    transform: scale(0.8);
}
.hear__about-wrapper{
    transform: scale(0.799);
    .hear__item-imgbig{
        transform: scale(0.79);
    }
}
    .everything__wrapper {
            .everything{            
                &__item .jar__item img{
                width: 6.25rem;
                }
            }    
    }

}
@media (max-width: 1024px){
    html{
        font-size: 13px;
    }
    
    .clients_say .clients__item-text-describe {
        max-width: 34.9375rem;
    }
    .hear__about-wrapper{
        
        .hear__item-imgbig{
            transform: scale(0.68);
        }
        .hear__item-form{
            transform: scale(0.99);
        }
    }
    
}
@media (max-width: 768px){
    .header{
        &__inner{
            .menu{
                display: none;
            }
        }
        .header__inner{
            & .header__menu-btn{
                display: block;
            }
        }
        
        &__inner{
            justify-content: space-between;
            padding: 0.38461rem 1.23076rem;
            & a{
                margin: 0;
            }
        }
        .menu__mobile-items--active{
            display: block !important;
        }   

    }
    .everything{
        padding-top: 1.53846rem;
        &__item-title-desctop{
            display: none;
        }
    }
    .everything{
        &__item-title--mobile{
            display: block;
            & h2{
                transform: none;
            }
        }
        &__desktop{
            display: none;
        }
        &__mobile{
            display: block;
        }
    
        &__mobile-element {
    
            transform: scale(1.3);        
             }
        &__mobile-box{
            transform: scale(1.1);
        }
    
    }
    .how__it{
        & .how__item-blocks {
            display: block;
            & .how__item-block{
                margin: 0 auto 0.7692rem;
            }    
        }
        & .how__itme-wavy-line{
            display: block;
        }
    }
    .box__month-wrapper{
        display: block;
        display: flex;
        flex-flow: column wrap;
    }
    .box__month{
        & .box__item-package, .box__item-element-strang, .box__item-Im-line-big, .box__item-jar, .box__item-Im-line-short, .box__month-describe-leaflet {
            display: none;
        }
        &-wrapper{
            transform: scale(0.95);
        }
        &-images{
            width: 100%;
            justify-content: center;
        }
        & .box__month-describe{
            margin: 1.8461rem auto 0;
            
            text-align: center;
            &  .desktop-btn{
                display: none;
            }
            h2::before{
                content: url(../images/box_month/line.png);
                    position: absolute;
                    top: -115%;
                    left: 43%;  
            } 
        }
        & .box__month-describe-btn{
            margin: 0 auto;
        }
        & .box__month-item{
            order: 2;
            margin-top: 2.3076rem;
            & .box__month-describe-sent{
                margin: 0 auto;
                margin-top: 1.1538rem;
                .box__month-describe-btn{
                    width: 22.1538rem;
                    height: 4.6153rem; 
                    font-size: 1.8461rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     }
            }

        }
        & .box__item-ring-pink{
            z-index: 1;
            right: 5%;
            bottom: 7%;
            top: auto;
            left: auto;
        }


        & .box__month-describe{
            order: 1;
        }
        
        
    }     
    .big__title-green{
        padding: 3.0769rem 0;
        .big__title-line-big{
            display: none;
        }
        .big__title-img-text{
            display: block;
            & div:nth-child(1){
                margin: 0 auto;
                margin-bottom: 1.1538rem;
                & img{
                    margin: 0 auto;
                    width: 10%;
                }
            }
            & div:nth-child(2){
                margin: 0 auto;
                margin-bottom: 1.9230rem;
                & img{
                    width: 16.1538rem;
                    margin: 0 auto;
                }
            }
        }
        .big__title-item h1{
            width: auto;
            text-align: center;
        }
        .big__title-text{
            transform: none;
            text-align: center;
            margin-bottom: 3.0769rem;
        }
        .big__title-img-trace{
            top: auto;
            left: 40%;
            bottom: -16%;
            
        }
    }
    .recent__posts{
    padding: 0.7692rem 0;
    .recent__items-title{
        h2{
            font-family: 'Advent Pro', sans-serif;
            font-weight: bold;
            font-size: 2.2307rem;
            line-height: 2.2307rem;
            text-align: center;
            color:#000000;;
        }
    }
    .recent__items-collection{
        justify-content: center;
        .col-3, .col-4, .recent__item-text-img, .recent__item-ring-green, .recent__item-ring-pink{
        display: none; 
        } 
    }

    }

    .whats__new{
    padding: 3.8461rem 0 2.3076rem;
    &-wrapper{
        transform: scale(0.99);
    }
    .whats__new-top-title{
        h2{
            font-family: 'Advent Pro', sans-serif;
            font-weight: bold;
            font-size: 1.8461rem;    
            line-height: 2.2307rem;
            align-items: center;
            
        }
    }
    .whats__item-big-line{
        display: none;
    }

    .whats__item-boxs{
        display: block;
        > div{
            margin: 0 auto;
            margin-bottom: 1.5384rem;
        }
        .whats__item-box{
            h3{
            font-family: 'Advent Pro', sans-serif;
            font-weight: bold;
            font-size: 1.3846rem;
            line-height: 1.6923rem;
            text-align: left;
            color:#000000;;
            }
            .whats__item-title, .whats__item-img-line{
                margin-right: auto;
            }

        }

    }
    .whats__item-btn{
        display: none;
    }
    .whats__item-btn-mobile{
        display: block;
    }
    }

    .hear__about{
    padding: 0;
    .hear__about-wrapper{
        transform: scale(0.9);
    }
    .hear__about-items{
        display: none;
    }
    .hear__about-mobile{
        display: block;
    }
    }
    .clients_say{
    padding: 0;
    .clients_item-elements{
        display: none;
    }
    & .clients__item-mobile{
        display: block;
    }
    & .clients__item-desktop{
        display: none;
    }
    .clients__item-mobile-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clients__item-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.92307rem;
    }
    .clients__item-title span{
        font-size: 0.92307rem;
        line-height: 1.07692rem;
        letter-spacing: 0.1em;
    }

    .clients__item-title h3{
        font-family: Advent Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 1.84615rem;
        line-height: 2.23076rem;
    }
    .clients__item-btns{
        margin-top: 3.07692rem;
        & div:nth-child(2){
            margin-left: 1.38461rem;
        }
    }
    }


    .footer{
    .footer__item-desktop{
        display: none;
    }
    .footer__item-mobile{
        display: block;
        padding: 2.30769rem 0 1.53846rem;
    }
    }
    .popup__item{
        & .popup__content{
            display: block;
        }
        & .popup__body{
            padding: 0 1.23076rem;
        }
        & .popup__img{
            padding: 0;
            border-radius: 20px 20px 0px 0px;
            & img{
                margin: 0 auto;
            }
        }
        & .popup__describe{
            padding: 2.30769rem 0 0;
        }
        & .popup__title h2{
            font-family: 'Advent Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.84615rem;
            line-height: 2.23076rem;
            color: #212121;
            text-align: center;
        }
        & .popup__text span{
            font-family: 'Advent Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.38461rem;
            line-height: 1.69230rem;
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
        }
        & .popup__title, .popup__text{
            padding: 0 1.53846rem;
        } 
        & .popup__btn{
            width: 100%;
            border-radius: 0px 0px 20px 20px;
            font-size:  1.84615rem;
            line-height: 1.84615rem;
        }
        & .popup__img-line{
            margin: 1.53846rem 0 2.30769rem;
        }
    }
}

@media (max-width: 450px){
    .everything{
        padding-bottom: 1.53846rem;
        .everything__item-title--mobile{
            & h1{
                font-size: 2.46153rem;
                line-height:2.46153rem;
            }
            & h2{
                font-size: 2rem;
                line-height: 3.23076rem;
            }
        }
        .everything__item-btn{
            width: 100%;
        }
    }
    .box__month{
         padding: 4rem 0.38461rem 2rem;
        .box__month-describe{
            max-width:23.07692rem ;
            margin:1.84615rem 0 0 ;
            & h2{
                font-size: 1.84615rem;
                line-height: 2.2307rem;
                margin-bottom: 1.53846rems;
                &::before{
                    left: 41%;
                }
            }
            & span{
                font-size: 1.07692rem;
                line-height: 150%;
                text-align: center;
            }
        }
    }
    .big__title-green{
        margin-bottom: 2.69230rem;
        .big__title-item{
            & h1{
                font-size: 2.46153rem;
                line-height: 2.46153rem;
                text-align: center;
            }
            & span{
                font-size: 2rem;
                line-height: 3.23076rem;
                text-align: center;
            }
            & .big__title-img-gren-text{
                width: 10.76923rem;
            }
            & .big__title-img-line{

            }
           
            
        }
        .big__title-img-trace{
            left: 30%;
            bottom: -30%;
        }
    }
}





