%test_font{
    font-family: 'name font', sans-serif; ;
    font-weight: 0;   
}

%Bebas_Neue_bold{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

%Roboto_bold{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
%Roboto_normal{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%Galada_normal{
    font-family: 'Galada', sans-serif;
    font-weight: normal;
}
%Advent_Pro_bold{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}