@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.header{
    z-index: 10;
    &__inner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 0.937rem;
        max-width: 57.875rem;
    }
    &__logo-link{
        margin: 0 6.25rem;
    }
    .menu {
        &__list{
            display: flex;
            align-items: center
        }
        &__list li:nth-child(1){
            margin-right: 3.125rem;
        }
        &__list li:nth-child(2){
            margin-left: 3.125rem;
        }
        &__list-item{
            @extend %Bebas_Neue_bold;
            font-size: 1.5rem;
            line-height: 1.5rem;
            letter-spacing: 0.05em;
            position: relative;
            padding: 0.5rem 0;
            &:hover{
                color: #01A3A4;
                border-bottom: 0.24rem solid #01A3A4;
                z-index: 5;
            }
        }
        &__box{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: -1.7rem;
            top: 2.8rem;
            width: 11.25rem;
            height: 9.5rem;        
            box-shadow: 0.625rem 0.625rem 1.875rem rgba(1, 163, 164, 0.15);
            opacity: 0;
            transition: 0.5s;
            pointer-events: none;
            background: #FFFFFF;
        }
        &__box-link{
            @extend %Roboto_bold;
            position: relative;
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: 0.25em;
            text-transform: uppercase;
            padding: 1.875rem 0; 
            text-align: center;
            &:hover{
                background-color: #F0F8F6;
                width: 100%;                            
            }        
        }
        &__list .hid__box{
            cursor: pointer;
            &:hover .menu__box{
                opacity: 1;
                pointer-events: unset;
                cursor: pointer;
            }
        }
            
    }
    .header__inner{
        & .header__menu-btn{
            display: none;
        }
    }
    
    .header__menu-btn{
        display: block;
        padding: 0;
        border:none ;
        outline: none;
        background-color: transparent;
        cursor: pointer;        
    }
    .header__menu-btn::before,
    .header__menu-btn::after{
        content: "";
        background-color:#34495E;
        width: 24px;
        height: 4px;
        display: block;
        margin-bottom: 4px;
    }
    .menu__line-btn{
        display: block;
        background-color:#34495E;
        width: 24px;
        height: 4px;
        margin-bottom: 4px;
        opacity: 1;
    }
    .header__menu-btn.header__menu-btn--active{
        .menu__line-btn{
            opacity: 0;
        }
        &::after{
            width: 24px;
            transform: translateY(-8px) rotate(-130deg);
        }
        &::before{
            width: 24px;
            transform: translateY(8px) rotate(130deg);
        }
    }
     .menu__mobile-items{
         display: none;
         padding: 0.38461rem;
         position: fixed;
         top:4.61538rem;
         left:0;
         right: 0;
         bottom: 0;
         background: #F0F8F6;
         z-index: 1;
        & .menu__moblile-element1{
         position: absolute;
         right: 0;
         bottom: 0;
        }
        & .menu__moblile-element2{
            position: absolute;
            right: 3.07692rem;
            bottom :10rem;
        }
        & .menu__moblile-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center
        }
        & .menu__mobile-wrapper{
            position: fixed;
            left: 40%;
            top:25%;
        }
        
        & .menu__moblile-links a{
            @extend %Bebas_Neue_bold;
            font-size: 1.53846rem;
            line-height: 1.53846rem;
            letter-spacing: 0.05em;
            color: #212121;
            text-align: center;
            text-transform: uppercase;
        }
        & .menu__moblile-list li:not(:first-child){
            margin-top: 1.92307rem;
        }
        & .menu__moblile-item div{
            margin-top: 1.92307rem;
            & img{
                margin: 0 auto;
            }
        }

    }    
     
}
.everything{
    padding: 4.375rem 0.9375rem;
    background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
    &__wrapper{
        position: relative;
    }
    &__item-title--mobile{
        display: none
    }    
    & h1{
        @extend %Bebas_Neue_bold;
        font-size: 6rem;
        line-height: 6rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        color: #212121;
    }
    
     & h2{
       @extend %Galada_normal;
        font-size: 4.5rem;
        line-height: 7.3125rem;
        color: #FFFFFF;
        text-align: center;
        transform: translateX(231px) translateY(-15px);
        display: block;         
        & span {
            display: block;
            transform:  translateX(123px) translateY(-27px);
        }
        
    }

    &__desktop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-25%); 
        position: relative;
    } 


    &__item-title--mobile{
        margin-bottom: 0.7692rem;
    }
    &__mobile{
        display: none;
        &-elements{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5384rem;
        }
        &-element{
            position: relative;
        }
        &-element-ring{
            position: absolute;
            z-index: -1;
        }
        &-element-img{
            z-index: 1;
        }
        &-bigbox{
            margin: 0 auto;
        }
        &-box img{
            margin: 0 auto;
            width: 18.2307rem;
            height: 13.7692rem;
        }
        &-box{
            position: relative;
            width: 18.2307rem;
            margin: 0 auto;
            &-ring{
                position: absolute;
            }
            & .ring__mob-1 img{
                width: 3.2307rem;
                height: 3.2307rem;
            }
            & .ring__mob-2 img{
                width: 3.2307rem;
                height: 3.2307rem;
            }
            & .ring__mob-1{
                top: 10%;
                left: 10%;
            }
            & .ring__mob-2{
                top: 10%;
                left: 60%;
                z-index: -1;
            }
        }
        &-bigbox{
            position: relative;             
            & .line_mob-1{
                top: 0;
                left: 15%;
            }
            & .line_mob-2{
                top: -10%;
                left: 40%;
               
            }
            & .line_mob-3{
                top: -10%;
                left: 60%;
            }
            & .line_mob-4{
                top: -5%;
                left: 75%;
            }
        }
        &-line{
            position: absolute;
           
        }

    }













    
    &__item{
        position: relative;
        width: 250px;
        height: 250px;
        // object-position: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-images{
            z-index: 1;
        }
        & .big-ring{
            position:absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0; 
        }        
    }
    &__item .chest__item{
        position: absolute;
        top: 20%;
        left: -10%;
    }
    &__item .element__item{
        position: absolute;
        left: -10%;
        top:-1%;
    }
    &__item .bag__item{
        position: absolute;
        top:-13%;
    }  
    &__item .jar__item{
        position: absolute;
        top:-12%;
        right: 18%;
    }
    &__item-btn{
        // margin: 0 auto;
        @extend %Bebas_Neue_bold;
        font-size: 1.8125rem;
        line-height: 1.8125rem;
        padding: 1.3125rem 5.625rem;
        border-radius: 50px;
        text-align: center;
        text-transform: uppercase;
        background: #01A3A4;
        color: #FFFFFF;
        margin: 0 auto;
        width: 17.5rem;
    }
    &__item-line-1{
        position: absolute;
        top:22%;
        left:24%;
    }
    &__item-line-2{
        position: absolute;
        top:42%;
        left:6.5%;
    }
    &__item-line-3{
        position: absolute;
        right: 23%;
        bottom: 10%;
    }
    &__item-line-4{
        position: absolute;
        right: 6%;
        bottom: -6%;
    }
    &__item-ring1{
        position: absolute;
        top: 15%;
        right: 0;
    }
    &__item-ring2{
        position: absolute;
        top: 15%;
        right: 10%;
    }
    &__item-ring3{
        position: absolute;
        top: 0%;
        left: 13%;
    }
    &__item-ring4{
        position: absolute;
        top: -2%;
        left: 15%;
        z-index: 1;
    }
    &__item-ring5{
        position: absolute;
        top: 80%;
        left: 15%;
        z-index: 1;
    }
    &__item-ring6{
        position: absolute;
        top: 77%;
        right: 60%;
        z-index: 1;
    }
}
.how__it{
    padding: 6.25rem 0;
    
    .how__it-wrapper h2{
     @extend  %Bebas_Neue_bold;
     font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1.25rem;
    }    
    .how__item-blocks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .how__item-block{
        position: relative;
        max-width: 19.5rem;
        padding: 0 0.9375rem;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .how__item-img{
        margin-bottom: 2.5rem;
    }
    .how__item-title{
        @extend %Bebas_Neue_bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    .how__item-text p{
        @extend %Roboto_normal;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #696969;
    }
    .how__ring-item{
        position: absolute;
        top: 0;
        right: 1.375rem;
        z-index: -1;
    }
    .how__ring-item-pink{
        position: absolute;
        top: 0;
        left: 0;
    }
    .how__itme-wavy-line img{
        margin: 0 auto;
    }

    .how__itme-wavy-line{
        position: relative;
        width: 100%;
        margin-top: 30px;
        display: none;
        &::before{
            content: '';
            height: 0.0625rem;
            width: 5rem;
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
        }
        &::after{
            content: '';
            height: 0.0625rem;
            width: 5rem;
            position: absolute;
            display: block;
            top: 50%;
            right: 0;
            background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
        }
    }
    .how__item-btn{
        margin: 3.125rem auto 0;
        padding: 1.25rem 5.25rem;
        @extend %Bebas_Neue_bold;
        font-size: 1.8125rem;
        line-height: 1.8125rem;
        text-align: center;
        width: 17.5rem;
        background: #01A3A4;
        border-radius: 3.125rem; 
        outline: none;
        color: #FFFFFF;   
    }
    
}

.box__month{
    background: #F0F8F6;
    padding: 4rem 0;
    &-item{
        margin: 0;
        padding: 0;
    }
    &-wrapper{
        display: flex;
        align-items: center;
    }
    &-images{
        display: flex;
        position: relative;
        width: 37.5rem; 
        z-index: 1;       
    }
    &-images div:nth-child(2){
        margin-left: 1.875rem;
    }
    .box__item-ring-pink{
        position: absolute;
        top: -1.6875rem;
        left: -1.6825rem;
        z-index: -1;
    }

    .box__item-ring-green{
        position: absolute;
        bottom: -1.75rem;
        right: -1.75rem;
    }
    .box__item-package{
        position: absolute;
        top: 27%;
        left:-16%;

    }
    .box__item-element-strang{
        position: absolute;
        top:35%;
        left: -42%;
    }
    .box__item-Im-line-big{
        position: absolute;
        top: 45%;
        left: -18%;
    }
    .box__item-jar{
        position: absolute;
        top:60%;
        left: -32%;
    }
    .box__item-Im-line-short{
        position: absolute;
        top: 75%;
        left: -22%;
    }

    .box__month-describe{
        margin-left: 6.25rem;
        width: 33.75rem;
        padding: 0 0.625rem;
        z-index: 1;
        & h2{
            @extend %Bebas_Neue_bold;
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            position: relative;
            margin-bottom: 1.875rem;
            &::before{
            content: url(../images/box_month/line.png);
            position: absolute;
            top: -25%;
            left: 10%;            
            }
        }
        & .box__month-text{
            @extend %Roboto_normal;
            font-size: 1rem;
            line-height: 1.5rem;
            
        }
        &-sent{
            margin-top: 1.875rem;
            position: relative;
        }
        &-btn{
            width: 17.5rem;
            padding: 1.25rem 0;
            @extend %Bebas_Neue_bold;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: 1.8125rem;
            line-height: 1.8125rem;
            background: #01A3A4;
            border-radius: 3.125rem;
        }
        &-leaflet{
            position: absolute;
            top: -3.75rem;
            right: 7.5rem;
            z-index: -1;
        }
    }
.box__month-describe-sent{
    & .mobile-ver{
        display: none;
    }
}


}
.big__title-green{
    position: relative;
    padding: 6.25rem 0 2.8125rem;
    .big__title-wrapper{
        display: flex;
        align-items: center;
    }
    .big__title-img-text{
        & div:nth-child(2){
            margin-left: 0.625rem;
        }
        display: flex;
        align-items: center;
    }
    .big__title-item{
        position: relative;
    }
    .big__title-item h1{
        @extend %Bebas_Neue_bold;
        font-size: 6rem;
        line-height: 6rem;
        width: 66rem;
        margin-top: 1.25rem;
    }
    .big__title-text span{
        @extend %Galada_normal;
        font-size: 4.5rem;
        line-height: 7.3125rem;
        color: #74E6CF;
    }
    .big__title-text{
        transform: translateX(587px);
    }
    .big__title-line-big{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .big__title-img-trace{
        position: absolute;
        top:20%;
        left: -15%;
    }
}
.recent__posts{
    background: #F0F8F6;
    padding: 6.25rem 0 5.625rem;
    .recent__item-text p{
        @extend %Roboto_bold;
        font-size: 0.875rem;
        line-height: 1rem;
        align-items: center;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #01A3A4;
        text-align: center;
    }
    .recent__item-text{
        margin-bottom: 1.25rem;
    }
    .recent__items-title h2{
        @extend %Bebas_Neue_bold;
        font-size: 3rem;
        line-height: 3rem;
        color: #000000;
        text-align: center;
    }
    .recent__items-title{
        margin-bottom: 2.8125rem;
    }
    .recent__items-collection{
        position: relative;
        z-index: 1;
        display: flex;
    }
    .recent__items-collection > div{
        margin: 0.3125rem;
    }
    .recent__items-collection .col-1 div:nth-child(1),
    .col-2 div:nth-child(1),
    .col-4 div:nth-child(1){
        margin-bottom: 0.4375rem;
    }
    .recent__items-collection .col-1 div:nth-child(2),
    .col-2 div:nth-child(2),
    .col-4 div:nth-child(2){
        margin-top: 0.4375rem;
    }

    .recent__item-text-img{
        position: absolute;
        left: -3%;
        bottom: 0;
    }
    .recent__item-ring-green{
        position: absolute;
        top:-6%;
        left: -2.5%;
    }
    .recent__item-ring-pink{
        position: absolute;
        top: -5%;
        right: -2%;
        z-index: -1;
    }
}

.whats__new{
    position: relative;
    padding: 6.25rem 0;
    
    .whats__item-boxs{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .whats__new-top-title{
        margin-bottom: 3.125rem;
    }

    .whats__item-big-line{
        position: absolute;
        top: 48%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
   .whats__new-wrapper  h2{
        @extend %Bebas_Neue_bold;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
    }
    .whats__item-box{
        width: 24.1875rem;
        border: 0.0625rem solid #F0F8F6;
       
    }
    .whats__item-img-line{
        margin: 1.875rem 0;
    }
    .whats__item-content{
        padding: 1.875rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF
                
    }
    .whats__item-content h3{
        @extend %Bebas_Neue_bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
    }
    .whats__item-text span{
        @extend %Roboto_normal;
        font-size: 0.875rem;
        line-height: 0.875rem;
        color: #696969;
    }
     .fix-pad{
        padding-top: 3.375rem;
    }
    .whats__item-btn{
        @extend %Roboto_normal;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0.5rem 1.25rem;
        width: 7rem;
        height: 1.875rem;
        border-radius: 3.125rem;
        background: #01A3A4;
        color:#FFFFFF;
        margin: 0 2.5rem 2.25rem auto;
    }
   .whats__item-btn-mobile{
    @extend %Roboto_normal;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5rem 0 0.5rem 0.61538rem;
    width: 7rem;
    height: 1.875rem;
    border-radius: 3.125rem;
    background:#F0F8F6;;
    color:#01A3A4;;
    margin: 0 2.5rem 2.25rem auto;
    display: none;
    & span{
        padding:0.30769rem 0.38461rem ;
        margin: 3px;
        color: #FFFFFF;
        border-radius: 50px;
        background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
        text-align: center;
        
    }
   }
}

.hear__about{
    background: #F0F8F6;
    padding: 6.25rem 0 15.4375rem;
    .hear__about-items{
        position: relative;
    }
    .hear__text-smol span{        
        @extend %Roboto_normal;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        color: #01A3A4;
    }
    .hear__text-smol{
        margin-bottom: 1.25rem;
    }
    .hear__text-big{
        display: flex;
        align-items: center;
    }
    .hear__text-big img{
        margin-right: 1.25rem;
    }
    .hear__text-big h3{
      @extend  %Roboto_bold;
        font-size: 3rem;
        line-height: 3rem;
        color: #000000;
    }
    .hear__item-text{
        margin-bottom: 1.875rem;
    }
    .hear__item-title h1{
        @extend %Bebas_Neue_bold;
        font-size: 6rem;
        line-height: 6rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #212121;
    }
    .hear__item-title span{
        color: #01A3A4;
    }
    .hear__item-title{
        margin-bottom: 2.5rem;    
    }
    .hear__sent-email form{
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0.625rem;
    }
    .hear__sent-email input{
        width: 37.1875rem;
        height: 6.25rem;
        padding: 2.5rem 19.375rem 2.5rem 1.875rem;
        border-radius: 0px 3.125rem 3.125rem 0px;
        border: none;
        outline: none;
        @extend %Roboto_normal;
        font-size: 0.875rem;
        line-height: 150%;
        color: #000000;
        &::placeholder{
            color: #C4C4C4;
            @extend %Roboto_normal;
            font-size: 0.875rem;
            line-height: 150%;
        }
    }
    .hear__sent-email button{
        position: absolute;
        right: 3%;
        padding: 1.25rem 6.625rem;
        @extend %Bebas_Neue_bold;
        font-size: 1.8125rem;
        line-height: 1.8125rem;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 3.125rem;
        background: #01A3A4;
        color: #FFFFFF;
        cursor: pointer;
    }
    .hear__sent-email{
        width: 37.1875rem;
    }
    .hear__form-text{
        width: 37.1875rem;
    }
    .hear__form-text span{
        @extend %Roboto_normal;
        font-size: 0.75rem;
        color: #C4C4C4;
        & a{
            text-decoration: underline;
        }
    }
    .hear__item-form{
        position: relative;
        z-index: 1;
    }
    .hear__item-img{
        position: absolute;
        top:-60%;
        left:-10%;
        z-index: -1;
    }
    .hear__item-imgbig{
        position: absolute;
        right: -28%;
        top: 5%;
    }

.hear__about-mobile{
    display: none;
    &-wrapper{
        max-width:24.61538rem ;
        width: 100%;
        padding: 0 1.23076rem;
        margin: 0 auto;
    }

    .hear__sent-email{
        margin: 0 auto;
        width: auto;
    }
    .hear__sent-email form{
        display: block;
        margin: 0 auto;
    }
    .hear__sent-email input{
        border-radius: 0;
        padding: 1.5384rem 1.2307rem ;
        max-width: 22.1538rem;
        width: 100%;
        height: 4.6153rem;
    }
    .hear__sent-email-btn{
        margin-top:1.5384rem;
    }
    .hear__sent-email button{
        position: relative;
        display: block;
        right: 0;
        padding: 1.53846rem 8.92307rem;
        font-size: 1.8461rem;
        line-height: 1.8461rem;
        margin: 0 auto;
    }
    .hear__item-title{
        margin-bottom:1.5384rem;
    }
    .hear__item-title h1{
        font-size: 2.46153rem;
        line-height: 2.46153rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
    }
    .hear__text-big h3{
        font-family: Advent Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8461rem;
        line-height: 1.8461rem;
        text-align: center;
    }
    .hear__form-text{
        width: auto;
        margin-top: 0.7692rem;
        & span {
            font-size: 0.9230rem;
            line-height: 150%;
            text-align: center;
            color: #C4C4C4;
        }
    }
    .hear__text-smol{
        margin:0.7692rem 0 1.5384rem ;
    }
    .hear__text-smol span{
        font-size: 0.9230rem;
        line-height: 1.0769rem;
        text-align: center;
    }
    .hear__about-mobile-line{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hear__about-mobile-line img{
        margin: 0 auto;
    }
}

}

.clients_say{
    
    padding: 6.25rem 0;
    position: relative;
    .clients__item-text span{
    @extend %Roboto_bold;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #01A3A4;
    }
    .clients__item-text{
        margin-bottom: 1.25rem;
    }
    .clients__item-title h3{
        @extend %Bebas_Neue_bold;
        font-size: 3rem;
        line-height: 3rem;
        color: #000000;
    }
    .clients__item-title{
        margin-bottom: 3.125rem;
    }
    .clients__item-blocks{
        position: relative;
    }
    .clients__item-content{
        position: relative;
        height: 500px;
        display: flex;
        align-items: center;
    }
    .clients__item-img{
        position: absolute;
        top:0;
        bottom: 0;
        left: -15%;
    }
    .clients__item-text-describe{
        margin-left: auto;
        max-width: 38.9375rem;
    }
    .clients__item-statust{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .clients__item-title-text h3{
        @extend %Bebas_Neue_bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
        color: #000000;
    }
    .clients__item-title-text{
        padding-left: 0;
    }
    .clients__item-statust{
        margin-bottom: 2.125rem;
    }
    .clients__item-img-line{
        margin-bottom: 1.875rem;
    }
    .clients__text-wraper{
        height: 17.8125rem;
        overflow-y: auto;
        padding-right: 3.125rem;
        &::-webkit-scrollbar {
            width: 0.3125rem;
            height: auto;
            color: black;
            background-color: #74E6CF;
        }
        &::-webkit-scrollbar-thumb{
            width: 0.3125remx;
            border-radius: 3.125rem;
            background:#C0E594;
        }
    }
    .clients__text-wraper span{
       @extend %Roboto_normal;
        font-size: 1rem;
        line-height: 180%;
        color: #696969;
    }
    .clients__item-btns{
        display: flex;
        align-items: center;
        margin-top: 4.6875rem;
        & div:nth-child(2){
            margin-left: 0.625rem;
        }
    }
    .clients__btn-bg{
        padding: 0.25rem 0.25rem;
        background: #F0F8F6;
        border-radius: 3.125rem;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .clients__item-btns button{
        padding: 0.4375rem 0.3125rem;
        border: none ;
        border-radius: 3.25rem;
        background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        cursor: pointer;
    }
    .clients_item-element1{
        position: absolute;
        top:10%;
        left: 0;
        z-index: -1;
    }
    .clients_item-element2{
        position: absolute;
        top:10%;
        right: 0;
    }
    .clients_item-ring{
        position: absolute;
        top: 10%;
        right: 8%;
    }
    .clients_item-ring2{
        position: absolute;
        bottom: 5%;
        left:10%;
    }
    .clients_item-bigring{
        position: absolute;
        bottom:-5%;
        left:5%;

    }
    & .clients__item-mobile{
        display: none;
        .clients__item-person{
            position: relative;
            display: flex;
            align-items: center;
            & >div:nth-child(2){
                margin-left: 0.76923rem;
            } 
            .clients__item-photo{
                position: relative;
            } 
            .clients__item-bg{
                position: absolute;
                top: -33%;
                left: -4%;
            } 
        }
        .clients__item-img-line{
            margin: 0.76923rem 0 1.15384rem;
        }
        .clients__text-wraper span{
            font-size: 1.07692rem;
            line-height: 150%;
        }
    }
}

.footer{
    z-index: 1;
    background: #FFFFFF;
    &__wrapper-item{
        border: 0.0625rem solid #F0F8F6;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.375rem 0.625rem;        
    }
    &__menu-list{
        display: flex;        
    }
    &__menu-item{
        @extend %Bebas_Neue_bold;
        font-size: 1.125rem;
        line-height: 1.125rem;
        letter-spacing: 0.05em;
        color: #212121;
        padding: 0.5rem 0;
        background: #FFFFFF;
        &:hover{
            color: #01A3A4;
            transition: 0.3s;
        }
    }
    &__menu-list li:nth-last-child(n-1){
        margin: 0 0.9375rem;
    }
    &__menu-list li:first-child {
        margin-left: 0;
    }
    &__logo{
        margin: 0 0.625rem;
    }
    &__contacts{
        display: flex;
        align-items: center;
    }
    &__social-links{
        display: flex;
        align-items: center;
    }
    &__social-links a{
        margin: 0 0.9375rem;
    }
    &__social-links a:last-child{
        margin-right: 0;
    }
    &__copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem 0.625rem;
        
    }
    &__copyright span{
        @extend %Roboto_normal;
        font-size: 0.75rem;
        line-height: 0.875rem;
        text-align: center;
        color: #696969;
    
    }
    &__copyright-develop span{
        margin-right: 0.625rem;
    }
    &__copyright-develop{
        display: flex;
        align-items: center;

    }
    .footer__item-mobile{
        display: none;
        &-wrapper{            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }
        .footer__logo{
            margin-bottom: 2.30769rem;
        }
        .footer__menu-mobile{
            margin-bottom: 2.30769rem;
            .footer__menu-list-mobile{
                & :last-child{
                    margin-bottom: 0;                }
            }
            .footer__menu-item{
                font-size: 1.23076rem;
                line-height: 1.23076rem;
                text-align: center;
                margin-bottom: 0.53846rem;
                
            }
        }
    }

}
.popup__item{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    & .popup__content{
        max-width: 800px;
        max-height: 461px;
        border-radius: 20px;
        display: flex;
        background: #FFFFFF;
    }
    & .popup__body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .popup__img{
        background: #F0F8F6;
        border-radius: 20px 0px 0px 20px;
        padding: 2.8125rem 0;
    }
    & .popup__describe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding: 6.25rem 0.43755rem;   
    }
    & .popup__title h2{
        @extend %Bebas_Neue_bold;
        font-size: 3rem;
        line-height: 3rem;
        color: #212121;
        & span{
            color: #01A3A4;
        }
    }
    & .popup__text{
        @extend %Bebas_Neue_bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
    & .popup__img-line{
        margin: 1.25rem
    }
    & .popup__btn{
        padding: 1.25rem 7.255rem;
        border-radius: 3.125rem;
        background: #01A3A4;
        color: #FFFFFF;
         @extend %Bebas_Neue_bold;
         font-size: 1.8125rem;
        line-height: 1.8125rem;
        text-align: center;
         text-transform: uppercase;
         margin-top: 4.5rem;
        cursor: pointer;
    }

}
.popup__item-aktive{
    display: block;
}




@import "media";