.header .menu__list-item,
.header .menu__mobile-items .menu__moblile-links a,
.everything h1,
.everything__item-btn,
.how__it .how__it-wrapper h2,
.how__it .how__item-title,
.how__it .how__item-btn,
.box__month .box__month-describe h2,
.box__month .box__month-describe-btn,
.big__title-green .big__title-item h1,
.recent__posts .recent__items-title h2,
.whats__new .whats__new-wrapper h2,
.whats__new .whats__item-content h3,
.hear__about .hear__item-title h1,
.hear__about .hear__sent-email button,
.clients_say .clients__item-title h3,
.clients_say .clients__item-title-text h3,
.footer__menu-item,
.popup__item .popup__title h2,
.popup__item .popup__text,
.popup__item .popup__btn {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
}

.header .menu__box-link,
.recent__posts .recent__item-text p,
.hear__about .hear__text-big h3,
.clients_say .clients__item-text span {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.hear__about .hear__sent-email input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.hear__about .hear__sent-email input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.hear__about .hear__sent-email input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.hear__about .hear__sent-email input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.how__it .how__item-text p,
.box__month .box__month-describe .box__month-text,
.whats__new .whats__item-text span,
.whats__new .whats__item-btn,
.whats__new .whats__item-btn-mobile,
.hear__about .hear__text-smol span,
.hear__about .hear__sent-email input,
.hear__about .hear__sent-email input::placeholder,
.hear__about .hear__form-text span,
.clients_say .clients__text-wraper span,
.footer__copyright span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.everything h2,
.big__title-green .big__title-text span {
  font-family: 'Galada', sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'Name font', sans-serif;
  font-style: normal;
  font-weight: 0;
  font-display: swap;
  src: url() format("");
  unicode-range: 0;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Bebas-Neue.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Galada.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* greek */

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adventpro/v11/V8mDoQfxVT4Dvddr_yOwjYGIPbJ4C-s0.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adventpro/v11/V8mDoQfxVT4Dvddr_yOwjYGIPb94C-s0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adventpro/v11/V8mDoQfxVT4Dvddr_yOwjYGIPbF4Cw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 78.125rem;
  width: 100%;
}

.container_full {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 120rem;
  width: 100%;
}

.header {
  z-index: 10;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.25rem 0.937rem;
  max-width: 57.875rem;
}

.header__logo-link {
  margin: 0 6.25rem;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .menu__list li:nth-child(1) {
  margin-right: 3.125rem;
}

.header .menu__list li:nth-child(2) {
  margin-left: 3.125rem;
}

.header .menu__list-item {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  position: relative;
  padding: 0.5rem 0;
}

.header .menu__list-item:hover {
  color: #01A3A4;
  border-bottom: 0.24rem solid #01A3A4;
  z-index: 5;
}

.header .menu__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: -1.7rem;
  top: 2.8rem;
  width: 11.25rem;
  height: 9.5rem;
  -webkit-box-shadow: 0.625rem 0.625rem 1.875rem rgba(1, 163, 164, 0.15);
  box-shadow: 0.625rem 0.625rem 1.875rem rgba(1, 163, 164, 0.15);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
  background: #FFFFFF;
}

.header .menu__box-link {
  position: relative;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 1.875rem 0;
  text-align: center;
}

.header .menu__box-link:hover {
  background-color: #F0F8F6;
  width: 100%;
}

.header .menu__list .hid__box {
  cursor: pointer;
}

.header .menu__list .hid__box:hover .menu__box {
  opacity: 1;
  pointer-events: unset;
  cursor: pointer;
}

.header .header__inner .header__menu-btn {
  display: none;
}

.header .header__menu-btn {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.header .header__menu-btn::before,
.header .header__menu-btn::after {
  content: "";
  background-color: #34495E;
  width: 24px;
  height: 4px;
  display: block;
  margin-bottom: 4px;
}

.header .menu__line-btn {
  display: block;
  background-color: #34495E;
  width: 24px;
  height: 4px;
  margin-bottom: 4px;
  opacity: 1;
}

.header .header__menu-btn.header__menu-btn--active .menu__line-btn {
  opacity: 0;
}

.header .header__menu-btn.header__menu-btn--active::after {
  width: 24px;
  -webkit-transform: translateY(-8px) rotate(-130deg);
  -ms-transform: translateY(-8px) rotate(-130deg);
  transform: translateY(-8px) rotate(-130deg);
}

.header .header__menu-btn.header__menu-btn--active::before {
  width: 24px;
  -webkit-transform: translateY(8px) rotate(130deg);
  -ms-transform: translateY(8px) rotate(130deg);
  transform: translateY(8px) rotate(130deg);
}

.header .menu__mobile-items {
  display: none;
  padding: 0.38461rem;
  position: fixed;
  top: 4.61538rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F0F8F6;
  z-index: 1;
}

.header .menu__mobile-items .menu__moblile-element1 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.header .menu__mobile-items .menu__moblile-element2 {
  position: absolute;
  right: 3.07692rem;
  bottom: 10rem;
}

.header .menu__mobile-items .menu__moblile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .menu__mobile-items .menu__mobile-wrapper {
  position: fixed;
  left: 40%;
  top: 25%;
}

.header .menu__mobile-items .menu__moblile-links a {
  font-size: 1.53846rem;
  line-height: 1.53846rem;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
}

.header .menu__mobile-items .menu__moblile-list li:not(:first-child) {
  margin-top: 1.92307rem;
}

.header .menu__mobile-items .menu__moblile-item div {
  margin-top: 1.92307rem;
}

.header .menu__mobile-items .menu__moblile-item div img {
  margin: 0 auto;
}

.everything {
  padding: 4.375rem 0.9375rem;
  background: -o-linear-gradient(320.66deg, #FECA57 56.78%, #E3AA2D 101.94%);
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
}

.everything__wrapper {
  position: relative;
}

.everything__item-title--mobile {
  display: none;
}

.everything h1 {
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #212121;
}

.everything h2 {
  font-size: 4.5rem;
  line-height: 7.3125rem;
  color: #FFFFFF;
  text-align: center;
  -webkit-transform: translateX(231px) translateY(-15px);
  -ms-transform: translateX(231px) translateY(-15px);
  transform: translateX(231px) translateY(-15px);
  display: block;
}

.everything h2 span {
  display: block;
  -webkit-transform: translateX(123px) translateY(-27px);
  -ms-transform: translateX(123px) translateY(-27px);
  transform: translateX(123px) translateY(-27px);
}

.everything__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  position: relative;
}

.everything__item-title--mobile {
  margin-bottom: 0.7692rem;
}

.everything__mobile {
  display: none;
}

.everything__mobile-elements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.5384rem;
}

.everything__mobile-element {
  position: relative;
}

.everything__mobile-element-ring {
  position: absolute;
  z-index: -1;
}

.everything__mobile-element-img {
  z-index: 1;
}

.everything__mobile-bigbox {
  margin: 0 auto;
}

.everything__mobile-box img {
  margin: 0 auto;
  width: 18.2307rem;
  height: 13.7692rem;
}

.everything__mobile-box {
  position: relative;
  width: 18.2307rem;
  margin: 0 auto;
}

.everything__mobile-box-ring {
  position: absolute;
}

.everything__mobile-box .ring__mob-1 img {
  width: 3.2307rem;
  height: 3.2307rem;
}

.everything__mobile-box .ring__mob-2 img {
  width: 3.2307rem;
  height: 3.2307rem;
}

.everything__mobile-box .ring__mob-1 {
  top: 10%;
  left: 10%;
}

.everything__mobile-box .ring__mob-2 {
  top: 10%;
  left: 60%;
  z-index: -1;
}

.everything__mobile-bigbox {
  position: relative;
}

.everything__mobile-bigbox .line_mob-1 {
  top: 0;
  left: 15%;
}

.everything__mobile-bigbox .line_mob-2 {
  top: -10%;
  left: 40%;
}

.everything__mobile-bigbox .line_mob-3 {
  top: -10%;
  left: 60%;
}

.everything__mobile-bigbox .line_mob-4 {
  top: -5%;
  left: 75%;
}

.everything__mobile-line {
  position: absolute;
}

.everything__item {
  position: relative;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.everything__item-images {
  z-index: 1;
}

.everything__item .big-ring {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.everything__item .chest__item {
  position: absolute;
  top: 20%;
  left: -10%;
}

.everything__item .element__item {
  position: absolute;
  left: -10%;
  top: -1%;
}

.everything__item .bag__item {
  position: absolute;
  top: -13%;
}

.everything__item .jar__item {
  position: absolute;
  top: -12%;
  right: 18%;
}

.everything__item-btn {
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  padding: 1.3125rem 5.625rem;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  background: #01A3A4;
  color: #FFFFFF;
  margin: 0 auto;
  width: 17.5rem;
}

.everything__item-line-1 {
  position: absolute;
  top: 22%;
  left: 24%;
}

.everything__item-line-2 {
  position: absolute;
  top: 42%;
  left: 6.5%;
}

.everything__item-line-3 {
  position: absolute;
  right: 23%;
  bottom: 10%;
}

.everything__item-line-4 {
  position: absolute;
  right: 6%;
  bottom: -6%;
}

.everything__item-ring1 {
  position: absolute;
  top: 15%;
  right: 0;
}

.everything__item-ring2 {
  position: absolute;
  top: 15%;
  right: 10%;
}

.everything__item-ring3 {
  position: absolute;
  top: 0%;
  left: 13%;
}

.everything__item-ring4 {
  position: absolute;
  top: -2%;
  left: 15%;
  z-index: 1;
}

.everything__item-ring5 {
  position: absolute;
  top: 80%;
  left: 15%;
  z-index: 1;
}

.everything__item-ring6 {
  position: absolute;
  top: 77%;
  right: 60%;
  z-index: 1;
}

.how__it {
  padding: 6.25rem 0;
}

.how__it .how__it-wrapper h2 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.how__it .how__item-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.how__it .how__item-block {
  position: relative;
  max-width: 19.5rem;
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.how__it .how__item-img {
  margin-bottom: 2.5rem;
}

.how__it .how__item-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.how__it .how__item-text p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #696969;
}

.how__it .how__ring-item {
  position: absolute;
  top: 0;
  right: 1.375rem;
  z-index: -1;
}

.how__it .how__ring-item-pink {
  position: absolute;
  top: 0;
  left: 0;
}

.how__it .how__itme-wavy-line img {
  margin: 0 auto;
}

.how__it .how__itme-wavy-line {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: none;
}

.how__it .how__itme-wavy-line::before {
  content: '';
  height: 0.0625rem;
  width: 5rem;
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  background: -o-linear-gradient(308.61deg, #74E6CF 13.88%, #C0E594 106.32%);
  background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
}

.how__it .how__itme-wavy-line::after {
  content: '';
  height: 0.0625rem;
  width: 5rem;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  background: -o-linear-gradient(308.61deg, #74E6CF 13.88%, #C0E594 106.32%);
  background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
}

.how__it .how__item-btn {
  margin: 3.125rem auto 0;
  padding: 1.25rem 5.25rem;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  text-align: center;
  width: 17.5rem;
  background: #01A3A4;
  border-radius: 3.125rem;
  outline: none;
  color: #FFFFFF;
}

.box__month {
  background: #F0F8F6;
  padding: 4rem 0;
}

.box__month-item {
  margin: 0;
  padding: 0;
}

.box__month-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box__month-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 37.5rem;
  z-index: 1;
}

.box__month-images div:nth-child(2) {
  margin-left: 1.875rem;
}

.box__month .box__item-ring-pink {
  position: absolute;
  top: -1.6875rem;
  left: -1.6825rem;
  z-index: -1;
}

.box__month .box__item-ring-green {
  position: absolute;
  bottom: -1.75rem;
  right: -1.75rem;
}

.box__month .box__item-package {
  position: absolute;
  top: 27%;
  left: -16%;
}

.box__month .box__item-element-strang {
  position: absolute;
  top: 35%;
  left: -42%;
}

.box__month .box__item-Im-line-big {
  position: absolute;
  top: 45%;
  left: -18%;
}

.box__month .box__item-jar {
  position: absolute;
  top: 60%;
  left: -32%;
}

.box__month .box__item-Im-line-short {
  position: absolute;
  top: 75%;
  left: -22%;
}

.box__month .box__month-describe {
  margin-left: 6.25rem;
  width: 33.75rem;
  padding: 0 0.625rem;
  z-index: 1;
}

.box__month .box__month-describe h2 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.875rem;
}

.box__month .box__month-describe h2::before {
  content: url(../images/box_month/line.png);
  position: absolute;
  top: -25%;
  left: 10%;
}

.box__month .box__month-describe .box__month-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.box__month .box__month-describe-sent {
  margin-top: 1.875rem;
  position: relative;
}

.box__month .box__month-describe-btn {
  width: 17.5rem;
  padding: 1.25rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  background: #01A3A4;
  border-radius: 3.125rem;
}

.box__month .box__month-describe-leaflet {
  position: absolute;
  top: -3.75rem;
  right: 7.5rem;
  z-index: -1;
}

.box__month .box__month-describe-sent .mobile-ver {
  display: none;
}

.big__title-green {
  position: relative;
  padding: 6.25rem 0 2.8125rem;
}

.big__title-green .big__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.big__title-green .big__title-img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.big__title-green .big__title-img-text div:nth-child(2) {
  margin-left: 0.625rem;
}

.big__title-green .big__title-item {
  position: relative;
}

.big__title-green .big__title-item h1 {
  font-size: 6rem;
  line-height: 6rem;
  width: 66rem;
  margin-top: 1.25rem;
}

.big__title-green .big__title-text span {
  font-size: 4.5rem;
  line-height: 7.3125rem;
  color: #74E6CF;
}

.big__title-green .big__title-text {
  -webkit-transform: translateX(587px);
  -ms-transform: translateX(587px);
  transform: translateX(587px);
}

.big__title-green .big__title-line-big {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.big__title-green .big__title-img-trace {
  position: absolute;
  top: 20%;
  left: -15%;
}

.recent__posts {
  background: #F0F8F6;
  padding: 6.25rem 0 5.625rem;
}

.recent__posts .recent__item-text p {
  font-size: 0.875rem;
  line-height: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #01A3A4;
  text-align: center;
}

.recent__posts .recent__item-text {
  margin-bottom: 1.25rem;
}

.recent__posts .recent__items-title h2 {
  font-size: 3rem;
  line-height: 3rem;
  color: #000000;
  text-align: center;
}

.recent__posts .recent__items-title {
  margin-bottom: 2.8125rem;
}

.recent__posts .recent__items-collection {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent__posts .recent__items-collection > div {
  margin: 0.3125rem;
}

.recent__posts .recent__items-collection .col-1 div:nth-child(1),
.recent__posts .col-2 div:nth-child(1),
.recent__posts .col-4 div:nth-child(1) {
  margin-bottom: 0.4375rem;
}

.recent__posts .recent__items-collection .col-1 div:nth-child(2),
.recent__posts .col-2 div:nth-child(2),
.recent__posts .col-4 div:nth-child(2) {
  margin-top: 0.4375rem;
}

.recent__posts .recent__item-text-img {
  position: absolute;
  left: -3%;
  bottom: 0;
}

.recent__posts .recent__item-ring-green {
  position: absolute;
  top: -6%;
  left: -2.5%;
}

.recent__posts .recent__item-ring-pink {
  position: absolute;
  top: -5%;
  right: -2%;
  z-index: -1;
}

.whats__new {
  position: relative;
  padding: 6.25rem 0;
}

.whats__new .whats__item-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.whats__new .whats__new-top-title {
  margin-bottom: 3.125rem;
}

.whats__new .whats__item-big-line {
  position: absolute;
  top: 48%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.whats__new .whats__new-wrapper h2 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

.whats__new .whats__item-box {
  width: 24.1875rem;
  border: 0.0625rem solid #F0F8F6;
}

.whats__new .whats__item-img-line {
  margin: 1.875rem 0;
}

.whats__new .whats__item-content {
  padding: 1.875rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
}

.whats__new .whats__item-content h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.whats__new .whats__item-text span {
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #696969;
}

.whats__new .fix-pad {
  padding-top: 3.375rem;
}

.whats__new .whats__item-btn {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  width: 7rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  background: #01A3A4;
  color: #FFFFFF;
  margin: 0 2.5rem 2.25rem auto;
}

.whats__new .whats__item-btn-mobile {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5rem 0 0.5rem 0.61538rem;
  width: 7rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  background: #F0F8F6;
  color: #01A3A4;
  margin: 0 2.5rem 2.25rem auto;
  display: none;
}

.whats__new .whats__item-btn-mobile span {
  padding: 0.30769rem 0.38461rem;
  margin: 3px;
  color: #FFFFFF;
  border-radius: 50px;
  background: -o-linear-gradient(152.74deg, #74E6CF 34.09%, #C0E594 96.73%);
  background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
  text-align: center;
}

.hear__about {
  background: #F0F8F6;
  padding: 6.25rem 0 15.4375rem;
}

.hear__about .hear__about-items {
  position: relative;
}

.hear__about .hear__text-smol span {
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #01A3A4;
}

.hear__about .hear__text-smol {
  margin-bottom: 1.25rem;
}

.hear__about .hear__text-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hear__about .hear__text-big img {
  margin-right: 1.25rem;
}

.hear__about .hear__text-big h3 {
  font-size: 3rem;
  line-height: 3rem;
  color: #000000;
}

.hear__about .hear__item-text {
  margin-bottom: 1.875rem;
}

.hear__about .hear__item-title h1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;
}

.hear__about .hear__item-title span {
  color: #01A3A4;
}

.hear__about .hear__item-title {
  margin-bottom: 2.5rem;
}

.hear__about .hear__sent-email form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem;
}

.hear__about .hear__sent-email input {
  width: 37.1875rem;
  height: 6.25rem;
  padding: 2.5rem 19.375rem 2.5rem 1.875rem;
  border-radius: 0px 3.125rem 3.125rem 0px;
  border: none;
  outline: none;
  font-size: 0.875rem;
  line-height: 150%;
  color: #000000;
}

.hear__about .hear__sent-email input::-webkit-input-placeholder {
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 150%;
}

.hear__about .hear__sent-email input::-moz-placeholder {
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 150%;
}

.hear__about .hear__sent-email input:-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 150%;
}

.hear__about .hear__sent-email input::-ms-input-placeholder {
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 150%;
}

.hear__about .hear__sent-email input::placeholder {
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 150%;
}

.hear__about .hear__sent-email button {
  position: absolute;
  right: 3%;
  padding: 1.25rem 6.625rem;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3.125rem;
  background: #01A3A4;
  color: #FFFFFF;
  cursor: pointer;
}

.hear__about .hear__sent-email {
  width: 37.1875rem;
}

.hear__about .hear__form-text {
  width: 37.1875rem;
}

.hear__about .hear__form-text span {
  font-size: 0.75rem;
  color: #C4C4C4;
}

.hear__about .hear__form-text span a {
  text-decoration: underline;
}

.hear__about .hear__item-form {
  position: relative;
  z-index: 1;
}

.hear__about .hear__item-img {
  position: absolute;
  top: -60%;
  left: -10%;
  z-index: -1;
}

.hear__about .hear__item-imgbig {
  position: absolute;
  right: -28%;
  top: 5%;
}

.hear__about .hear__about-mobile {
  display: none;
}

.hear__about .hear__about-mobile-wrapper {
  max-width: 24.61538rem;
  width: 100%;
  padding: 0 1.23076rem;
  margin: 0 auto;
}

.hear__about .hear__about-mobile .hear__sent-email {
  margin: 0 auto;
  width: auto;
}

.hear__about .hear__about-mobile .hear__sent-email form {
  display: block;
  margin: 0 auto;
}

.hear__about .hear__about-mobile .hear__sent-email input {
  border-radius: 0;
  padding: 1.5384rem 1.2307rem;
  max-width: 22.1538rem;
  width: 100%;
  height: 4.6153rem;
}

.hear__about .hear__about-mobile .hear__sent-email-btn {
  margin-top: 1.5384rem;
}

.hear__about .hear__about-mobile .hear__sent-email button {
  position: relative;
  display: block;
  right: 0;
  padding: 1.53846rem 8.92307rem;
  font-size: 1.8461rem;
  line-height: 1.8461rem;
  margin: 0 auto;
}

.hear__about .hear__about-mobile .hear__item-title {
  margin-bottom: 1.5384rem;
}

.hear__about .hear__about-mobile .hear__item-title h1 {
  font-size: 2.46153rem;
  line-height: 2.46153rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.hear__about .hear__about-mobile .hear__text-big h3 {
  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8461rem;
  line-height: 1.8461rem;
  text-align: center;
}

.hear__about .hear__about-mobile .hear__form-text {
  width: auto;
  margin-top: 0.7692rem;
}

.hear__about .hear__about-mobile .hear__form-text span {
  font-size: 0.9230rem;
  line-height: 150%;
  text-align: center;
  color: #C4C4C4;
}

.hear__about .hear__about-mobile .hear__text-smol {
  margin: 0.7692rem 0 1.5384rem;
}

.hear__about .hear__about-mobile .hear__text-smol span {
  font-size: 0.9230rem;
  line-height: 1.0769rem;
  text-align: center;
}

.hear__about .hear__about-mobile .hear__about-mobile-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hear__about .hear__about-mobile .hear__about-mobile-line img {
  margin: 0 auto;
}

.clients_say {
  padding: 6.25rem 0;
  position: relative;
}

.clients_say .clients__item-text span {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #01A3A4;
}

.clients_say .clients__item-text {
  margin-bottom: 1.25rem;
}

.clients_say .clients__item-title h3 {
  font-size: 3rem;
  line-height: 3rem;
  color: #000000;
}

.clients_say .clients__item-title {
  margin-bottom: 3.125rem;
}

.clients_say .clients__item-blocks {
  position: relative;
}

.clients_say .clients__item-content {
  position: relative;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients_say .clients__item-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15%;
}

.clients_say .clients__item-text-describe {
  margin-left: auto;
  max-width: 38.9375rem;
}

.clients_say .clients__item-statust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients_say .clients__item-title-text h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.clients_say .clients__item-title-text {
  padding-left: 0;
}

.clients_say .clients__item-statust {
  margin-bottom: 2.125rem;
}

.clients_say .clients__item-img-line {
  margin-bottom: 1.875rem;
}

.clients_say .clients__text-wraper {
  height: 17.8125rem;
  overflow-y: auto;
  padding-right: 3.125rem;
}

.clients_say .clients__text-wraper::-webkit-scrollbar {
  width: 0.3125rem;
  height: auto;
  color: black;
  background-color: #74E6CF;
}

.clients_say .clients__text-wraper::-webkit-scrollbar-thumb {
  width: 0.3125remx;
  border-radius: 3.125rem;
  background: #C0E594;
}

.clients_say .clients__text-wraper span {
  font-size: 1rem;
  line-height: 180%;
  color: #696969;
}

.clients_say .clients__item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4.6875rem;
}

.clients_say .clients__item-btns div:nth-child(2) {
  margin-left: 0.625rem;
}

.clients_say .clients__btn-bg {
  padding: 0.25rem 0.25rem;
  background: #F0F8F6;
  border-radius: 3.125rem;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.clients_say .clients__item-btns button {
  padding: 0.4375rem 0.3125rem;
  border: none;
  border-radius: 3.25rem;
  background: -o-linear-gradient(152.74deg, #74E6CF 34.09%, #C0E594 96.73%);
  background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  cursor: pointer;
}

.clients_say .clients_item-element1 {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
}

.clients_say .clients_item-element2 {
  position: absolute;
  top: 10%;
  right: 0;
}

.clients_say .clients_item-ring {
  position: absolute;
  top: 10%;
  right: 8%;
}

.clients_say .clients_item-ring2 {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.clients_say .clients_item-bigring {
  position: absolute;
  bottom: -5%;
  left: 5%;
}

.clients_say .clients__item-mobile {
  display: none;
}

.clients_say .clients__item-mobile .clients__item-person {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients_say .clients__item-mobile .clients__item-person > div:nth-child(2) {
  margin-left: 0.76923rem;
}

.clients_say .clients__item-mobile .clients__item-person .clients__item-photo {
  position: relative;
}

.clients_say .clients__item-mobile .clients__item-person .clients__item-bg {
  position: absolute;
  top: -33%;
  left: -4%;
}

.clients_say .clients__item-mobile .clients__item-img-line {
  margin: 0.76923rem 0 1.15384rem;
}

.clients_say .clients__item-mobile .clients__text-wraper span {
  font-size: 1.07692rem;
  line-height: 150%;
}

.footer {
  z-index: 1;
  background: #FFFFFF;
}

.footer__wrapper-item {
  border: 0.0625rem solid #F0F8F6;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4.375rem 0.625rem;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-item {
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 0.5rem 0;
  background: #FFFFFF;
}

.footer__menu-item:hover {
  color: #01A3A4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__menu-list li:nth-last-child(n-1) {
  margin: 0 0.9375rem;
}

.footer__menu-list li:first-child {
  margin-left: 0;
}

.footer__logo {
  margin: 0 0.625rem;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social-links a {
  margin: 0 0.9375rem;
}

.footer__social-links a:last-child {
  margin-right: 0;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.625rem;
}

.footer__copyright span {
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: center;
  color: #696969;
}

.footer__copyright-develop span {
  margin-right: 0.625rem;
}

.footer__copyright-develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__item-mobile {
  display: none;
}

.footer .footer__item-mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__item-mobile .footer__logo {
  margin-bottom: 2.30769rem;
}

.footer .footer__item-mobile .footer__menu-mobile {
  margin-bottom: 2.30769rem;
}

.footer .footer__item-mobile .footer__menu-mobile .footer__menu-list-mobile :last-child {
  margin-bottom: 0;
}

.footer .footer__item-mobile .footer__menu-mobile .footer__menu-item {
  font-size: 1.23076rem;
  line-height: 1.23076rem;
  text-align: center;
  margin-bottom: 0.53846rem;
}

.popup__item {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__item .popup__content {
  max-width: 800px;
  max-height: 461px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
}

.popup__item .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__item .popup__img {
  background: #F0F8F6;
  border-radius: 20px 0px 0px 20px;
  padding: 2.8125rem 0;
}

.popup__item .popup__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6.25rem 0.43755rem;
}

.popup__item .popup__title h2 {
  font-size: 3rem;
  line-height: 3rem;
  color: #212121;
}

.popup__item .popup__title h2 span {
  color: #01A3A4;
}

.popup__item .popup__text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.popup__item .popup__img-line {
  margin: 1.25rem;
}

.popup__item .popup__btn {
  padding: 1.25rem 7.255rem;
  border-radius: 3.125rem;
  background: #01A3A4;
  color: #FFFFFF;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4.5rem;
  cursor: pointer;
}

.popup__item-aktive {
  display: block;
}

@media (max-width: 1680px) {
  .everything__wrapper {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  .everything__wrapper .everything__item {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .everything__wrapper .everything__box {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .everything__wrapper .everything__item-line-1 {
    position: absolute;
    top: 20%;
    left: 23%;
  }

  .everything__wrapper .everything__item-line-2 {
    position: absolute;
    top: 40%;
    left: 6%;
    width: 440px;
  }

  .everything__wrapper .everything__item-line-3 {
    position: absolute;
    right: 25%;
    bottom: 15%;
  }

  .everything__wrapper .everything__item-line-4 {
    position: absolute;
    right: 5%;
    bottom: 0;
  }

  .box__month-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .big__title-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .recent__posts-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .recent__posts-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .whats__new-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .hear__about-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .clients_say-wrapper {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
}

@media (max-width: 1440px) {
  .everything__wrapper {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  .everything__wrapper .everything__item {
    -webkit-transform: scale(0.88);
    -ms-transform: scale(0.88);
    transform: scale(0.88);
  }

  .everything__wrapper .everything__box {
    -webkit-transform: scale(0.87);
    -ms-transform: scale(0.87);
    transform: scale(0.87);
  }

  .everything__wrapper .everything__item-line-2 {
    width: 24.375;
  }

  .everything__wrapper .everything__item .jar__item img {
    width: 7.5rem;
  }

  .everything__wrapper .everything__item .jar__item {
    top: 2%;
  }

  .everything__wrapper .everything__item-ring6 {
    top: 60%;
    right: 60%;
  }

  .everything__wrapper .everything__item-ring5 {
    top: 65%;
    left: 10%;
  }

  .box__month-wrapper {
    -webkit-transform: scale(0.81);
    -ms-transform: scale(0.81);
    transform: scale(0.81);
  }

  .hear__about-wrapper {
    -webkit-transform: scale(0.799);
    -ms-transform: scale(0.799);
    transform: scale(0.799);
  }
}

@media (max-width: 1366px) {
  .box__month-wrapper {
    -webkit-transform: scale(0.77);
    -ms-transform: scale(0.77);
    transform: scale(0.77);
  }

  .box__month-wrapper .box__month-describe {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .hear__about-wrapper {
    -webkit-transform: scale(0.799);
    -ms-transform: scale(0.799);
    transform: scale(0.799);
  }

  .hear__about-wrapper .hear__item-imgbig {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .everything__wrapper .everything__item-line-2 {
    width: 23.125rem;
  }

  .everything__wrapper .everything__item-line-1 {
    width: 122px;
  }
}

@media (max-width: 1280px) {
  .box__month-wrapper {
    -webkit-transform: scale(0.73);
    -ms-transform: scale(0.73);
    transform: scale(0.73);
  }

  .box__month-wrapper .box__month-describe {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .big__title-wrapper {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .hear__about-wrapper {
    -webkit-transform: scale(0.799);
    -ms-transform: scale(0.799);
    transform: scale(0.799);
  }

  .hear__about-wrapper .hear__item-imgbig {
    -webkit-transform: scale(0.79);
    -ms-transform: scale(0.79);
    transform: scale(0.79);
  }

  .everything__wrapper .everything__item .jar__item img {
    width: 6.25rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .clients_say .clients__item-text-describe {
    max-width: 34.9375rem;
  }

  .hear__about-wrapper .hear__item-imgbig {
    -webkit-transform: scale(0.68);
    -ms-transform: scale(0.68);
    transform: scale(0.68);
  }

  .hear__about-wrapper .hear__item-form {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }
}

@media (max-width: 768px) {
  .header__inner .menu {
    display: none;
  }

  .header .header__inner .header__menu-btn {
    display: block;
  }

  .header__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.38461rem 1.23076rem;
  }

  .header__inner a {
    margin: 0;
  }

  .header .menu__mobile-items--active {
    display: block !important;
  }

  .everything {
    padding-top: 1.53846rem;
  }

  .everything__item-title-desctop {
    display: none;
  }

  .everything__item-title--mobile {
    display: block;
  }

  .everything__item-title--mobile h2 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .everything__desktop {
    display: none;
  }

  .everything__mobile {
    display: block;
  }

  .everything__mobile-element {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .everything__mobile-box {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .how__it .how__item-blocks {
    display: block;
  }

  .how__it .how__item-blocks .how__item-block {
    margin: 0 auto 0.7692rem;
  }

  .how__it .how__itme-wavy-line {
    display: block;
  }

  .box__month-wrapper {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .box__month .box__item-package,
  .box__month .box__item-element-strang,
  .box__month .box__item-Im-line-big,
  .box__month .box__item-jar,
  .box__month .box__item-Im-line-short,
  .box__month .box__month-describe-leaflet {
    display: none;
  }

  .box__month-wrapper {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  .box__month-images {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .box__month .box__month-describe {
    margin: 1.8461rem auto 0;
    text-align: center;
  }

  .box__month .box__month-describe .desktop-btn {
    display: none;
  }

  .box__month .box__month-describe h2::before {
    content: url(../images/box_month/line.png);
    position: absolute;
    top: -115%;
    left: 43%;
  }

  .box__month .box__month-describe-btn {
    margin: 0 auto;
  }

  .box__month .box__month-item {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 2.3076rem;
  }

  .box__month .box__month-item .box__month-describe-sent {
    margin: 0 auto;
    margin-top: 1.1538rem;
  }

  .box__month .box__month-item .box__month-describe-sent .box__month-describe-btn {
    width: 22.1538rem;
    height: 4.6153rem;
    font-size: 1.8461rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .box__month .box__item-ring-pink {
    z-index: 1;
    right: 5%;
    bottom: 7%;
    top: auto;
    left: auto;
  }

  .box__month .box__month-describe {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .big__title-green {
    padding: 3.0769rem 0;
  }

  .big__title-green .big__title-line-big {
    display: none;
  }

  .big__title-green .big__title-img-text {
    display: block;
  }

  .big__title-green .big__title-img-text div:nth-child(1) {
    margin: 0 auto;
    margin-bottom: 1.1538rem;
  }

  .big__title-green .big__title-img-text div:nth-child(1) img {
    margin: 0 auto;
    width: 10%;
  }

  .big__title-green .big__title-img-text div:nth-child(2) {
    margin: 0 auto;
    margin-bottom: 1.9230rem;
  }

  .big__title-green .big__title-img-text div:nth-child(2) img {
    width: 16.1538rem;
    margin: 0 auto;
  }

  .big__title-green .big__title-item h1 {
    width: auto;
    text-align: center;
  }

  .big__title-green .big__title-text {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
    margin-bottom: 3.0769rem;
  }

  .big__title-green .big__title-img-trace {
    top: auto;
    left: 40%;
    bottom: -16%;
  }

  .recent__posts {
    padding: 0.7692rem 0;
  }

  .recent__posts .recent__items-title h2 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 2.2307rem;
    line-height: 2.2307rem;
    text-align: center;
    color: #000000;
  }

  .recent__posts .recent__items-collection {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .recent__posts .recent__items-collection .col-3,
  .recent__posts .recent__items-collection .col-4,
  .recent__posts .recent__items-collection .recent__item-text-img,
  .recent__posts .recent__items-collection .recent__item-ring-green,
  .recent__posts .recent__items-collection .recent__item-ring-pink {
    display: none;
  }

  .whats__new {
    padding: 3.8461rem 0 2.3076rem;
  }

  .whats__new-wrapper {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }

  .whats__new .whats__new-top-title h2 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 1.8461rem;
    line-height: 2.2307rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .whats__new .whats__item-big-line {
    display: none;
  }

  .whats__new .whats__item-boxs {
    display: block;
  }

  .whats__new .whats__item-boxs > div {
    margin: 0 auto;
    margin-bottom: 1.5384rem;
  }

  .whats__new .whats__item-boxs .whats__item-box h3 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 1.3846rem;
    line-height: 1.6923rem;
    text-align: left;
    color: #000000;
  }

  .whats__new .whats__item-boxs .whats__item-box .whats__item-title,
  .whats__new .whats__item-boxs .whats__item-box .whats__item-img-line {
    margin-right: auto;
  }

  .whats__new .whats__item-btn {
    display: none;
  }

  .whats__new .whats__item-btn-mobile {
    display: block;
  }

  .hear__about {
    padding: 0;
  }

  .hear__about .hear__about-wrapper {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .hear__about .hear__about-items {
    display: none;
  }

  .hear__about .hear__about-mobile {
    display: block;
  }

  .clients_say {
    padding: 0;
  }

  .clients_say .clients_item-elements {
    display: none;
  }

  .clients_say .clients__item-mobile {
    display: block;
  }

  .clients_say .clients__item-desktop {
    display: none;
  }

  .clients_say .clients__item-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clients_say .clients__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.92307rem;
  }

  .clients_say .clients__item-title span {
    font-size: 0.92307rem;
    line-height: 1.07692rem;
    letter-spacing: 0.1em;
  }

  .clients_say .clients__item-title h3 {
    font-family: Advent Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.84615rem;
    line-height: 2.23076rem;
  }

  .clients_say .clients__item-btns {
    margin-top: 3.07692rem;
  }

  .clients_say .clients__item-btns div:nth-child(2) {
    margin-left: 1.38461rem;
  }

  .footer .footer__item-desktop {
    display: none;
  }

  .footer .footer__item-mobile {
    display: block;
    padding: 2.30769rem 0 1.53846rem;
  }

  .popup__item .popup__content {
    display: block;
  }

  .popup__item .popup__body {
    padding: 0 1.23076rem;
  }

  .popup__item .popup__img {
    padding: 0;
    border-radius: 20px 20px 0px 0px;
  }

  .popup__item .popup__img img {
    margin: 0 auto;
  }

  .popup__item .popup__describe {
    padding: 2.30769rem 0 0;
  }

  .popup__item .popup__title h2 {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.84615rem;
    line-height: 2.23076rem;
    color: #212121;
    text-align: center;
  }

  .popup__item .popup__text span {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.38461rem;
    line-height: 1.69230rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
  }

  .popup__item .popup__title,
  .popup__item .popup__text {
    padding: 0 1.53846rem;
  }

  .popup__item .popup__btn {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    font-size: 1.84615rem;
    line-height: 1.84615rem;
  }

  .popup__item .popup__img-line {
    margin: 1.53846rem 0 2.30769rem;
  }
}

@media (max-width: 450px) {
  .everything {
    padding-bottom: 1.53846rem;
  }

  .everything .everything__item-title--mobile h1 {
    font-size: 2.46153rem;
    line-height: 2.46153rem;
  }

  .everything .everything__item-title--mobile h2 {
    font-size: 2rem;
    line-height: 3.23076rem;
  }

  .everything .everything__item-btn {
    width: 100%;
  }

  .box__month {
    padding: 4rem 0.38461rem 2rem;
  }

  .box__month .box__month-describe {
    max-width: 23.07692rem;
    margin: 1.84615rem 0 0;
  }

  .box__month .box__month-describe h2 {
    font-size: 1.84615rem;
    line-height: 2.2307rem;
    margin-bottom: 1.53846rems;
  }

  .box__month .box__month-describe h2::before {
    left: 41%;
  }

  .box__month .box__month-describe span {
    font-size: 1.07692rem;
    line-height: 150%;
    text-align: center;
  }

  .big__title-green {
    margin-bottom: 2.69230rem;
  }

  .big__title-green .big__title-item h1 {
    font-size: 2.46153rem;
    line-height: 2.46153rem;
    text-align: center;
  }

  .big__title-green .big__title-item span {
    font-size: 2rem;
    line-height: 3.23076rem;
    text-align: center;
  }

  .big__title-green .big__title-item .big__title-img-gren-text {
    width: 10.76923rem;
  }

  .big__title-green .big__title-img-trace {
    left: 30%;
    bottom: -30%;
  }
}